@using PagedList.Mvc
@model BabyStore.ViewModel.ProductIndexViewModel

@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>
<p>
    @(String.IsNullOrWhiteSpace(Model.Search) ? "Showing all" : "You search for " + Model.Search + " found") @Model.Products.TotalItemCount products
</p>
<p>
    @Html.ActionLink("Create New", "Create")
    <div align="right">
        @using (Html.BeginForm("Index", "Products", FormMethod.Get))
        {
            <label>Filter by category:</label>
            @Html.DropDownList("Category", Model.CatFilterItems, "All")
            <label>Sort By:</label>
            @Html.DropDownList("SortBy", new SelectList(Model.Sorts, "Value", "Key"), "Default")
            <input type="submit" value="Filter" />
            <input type="hidden" name="Search" id="Search" value="@Model.Search" />
        }
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Products.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Products.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => Model.Products.First().Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ID}) |
                @Html.ActionLink("Details", "Details", new {id = item.ID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.ID})
            </td>
        </tr>
    }

</table>

<div align="right">
    Page @(Model.Products.PageCount < Model.Products.PageNumber ? 0 : Model.Products.PageNumber) of @Model.Products.PageCount
    @Html.PagedListPager(Model.Products, page => Url.Action("Index",
        new
        {
            category = @Model.Category,
            Search = @Model.Search,
            sortBy = @Model.SortBy,
            page
        }))
</div>
